:root {
  --border: rgba(15, 15, 15, 0.5);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.login-form {
  width: 50%;
  min-width: 325px;
  border: solid 3px var(--border);
  margin: 1% auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px/25px;
  background-color: #fff;
  box-shadow: 0 3px 15px 3px rgba(15, 15, 15, 0.5),
    inset 0 0 20px 6px rgba(200, 200, 200, 0.4);
  overflow: hidden;
}
